<div class="fixed top-0 left-0 w-full h-full opacity-50 bg-black z-[999]" (click)="closeDialog()"></div>
<div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1000] bg-white rounded" [ngStyle]="{'width': width}">
  <div class="flex p-4">
    <ng-template appDialogContainer></ng-template>
  </div>
  <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" *ngIf="config.visibleButtonClose" (click)="closeDialog('Hello World!')">Close</button>
  </div>
</div>
